@{
    ViewBag.Title = "Where To Find Me:";
}
<h2>@ViewBag.Title</h2>

<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

<div class="grid-container"; align="center">
    <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="sebastian-muir-smith-71ba8015b"><a class="LI-simple-link" href='https://au.linkedin.com/in/sebastian-muir-smith-71ba8015b?trk=profile-badge'>Sebastian Muir-smith</a></div>
    <p>
    <address>
        <strong>All Enquiries:</strong>   <a href="mailto:sebastian@muirsmith.com">sebastian@muirsmith.com</a><br />
        <strong>Follow me on Facebook:</strong> <a href="https://www.facebook.com/seb.muirsmith">https://www.facebook.com/seb.muirsmith</a>
    </address>
    </p>
</div>