@{
    ViewBag.Title = "Home Page";
}
</div>
<div class="photo-holder">
    <div class="profile-outer">
    </div>
    <div class="profile-photo">
        <img src="~/images/profile.jpg"/>
    </div>
</div>
<div class="container body-content" id="body-content">
        <h5>
            Hi, my name is Sebastian Muir-Smith and as you can tell, I'm not a frontend developer or web designer.
            I'm currently exploring data analytics in R and ASP.NET development using C#, whilst
            studying statistics and computer science at university.
        </h5>
        <h5>
            This website serves as a portfolio of my projects, and a central place to store my resume.
            It can be traversed using the nav-bar above, feel free to have a look around!
        </h5>
