@model MyWebsite.Models.LoginRedirectModel



@if (Model.Redirected)
{
    <h2 class="error">Error: Please log in before accessing any web apps</h2>
}

@if (User.Identity.IsAuthenticated)
{
    <div class="project-container">
        <div class="project p1">Project 0: This website</div>
        <div class="project p2">Project 1: Spending tracker web app</div>
        <div class="project p3">Project 2: idk man</div>
    </div>
}
else
{
    <h2>Please log in via the navbar buttons above before accessing my webapp projects</h2>
}
