<div class="popup">
    <div class="question">
        <h1> What resume did you want to view?</h1>
        <button class="b1">1</button>
        <button class="b2">2</button>
    </div>
</div>

<div class="resume-container r1">
    <div class="title-container">
        <h1>Sebastian Muir-Smith</h1>
        <div class="separator"></div>
        <div class="subtitle">
            <div class="info">Gold Coast, Queensland, 4211</div>
            <div class="info">0468760871</div>
            <div class="info">sebastian@muirsmith.com</div>
            <div class="info">www.sebastian.muirsmith.com</div>
        </div>
    </div>
    <div class="title">Professional Summary</div>
    <div class="summary"></div>
    <div class="title">Education</div>
    <div class="title">Work Experience</div>
    <div class="title">Qualifications</div>
    
</div>

<div class="resume-container r2">
    <div class="title-container">
        <h1>Sebastian Muir-Smith</h1>
        <div class="separator"></div>
        <div class="subtitle">
            <div class="info">Gold Coast, Queensland, 4211</div>
            <div class="info">0468760871</div>
            <div class="info">sebastian@muirsmith.com</div>
            <div class="info">www.sebastian.muirsmith.com</div>
        </div>
    </div>
    <div class="title">Professional Summary</div>
    <div class="summary"></div>
    <div class="title">Education</div>
    <div class="title">Work Experience</div>
    <div class="title">Qualifications</div>
</div>