<div class="popup">
    <div class="question">
        <h1> What resume did you want to view?</h1>
        <button class="b1">1</button>
        <button class="b2">2</button>
    </div>
</div>

<div class="resume-container r1">
    <div class="title-container">
        <h1>Sebastian Muir-Smith</h1>
        <div class="separator"></div>
        <div class="subtitle">
            <div class="info">Gold Coast, Queensland, 4211</div>
            <div class="info">0468760871</div>
            <div class="info">sebastian@muirsmith.com</div>
            <div class="info">www.sebastian.muirsmith.com</div>
        </div>
    </div>
    <div class="title">Professional Summary</div>
    <div class="subtext">Local student with over two years bartending experience, seeking casual and part time employment
        in bartending and related work</div>
    <div class="title">Education</div>
    <div class="subtext"><b>St Michael's College, Merrimac</b><br/>
        Graduated OP1/ATAR 99.65 equivalent, November 2017</div>
    <div class="subtext"><b>Queensland University of Technology, Gardens Point</b><br/>
        Bachelor of Mathematics <em>(Statistics)</em>,Bachelor of Information Technology <em>(Computer Science)</em>, GPA 6.87 <br/>
        February 2017 - November 2021</div>
    <div class="title">Work Experience</div>
    <div class="subtext"><b>Hungry Jack's</b><br/>
        Crew member, December 2015 - April 2016 <br/>
        Left to focus on studies</div>
    <div class="subtext"><b>O'brien Group</b><br/>
        Bartender; Cashier; Bar Supervisor, February 2017 - Present<br/>
        General Bar and Cashier work, including serving beer, wine and spirits to customers<br/>
        Customer involvement and critical thinking to maintain RSA<br/>
        Participated in managerial roles such as managing employees and stock for a bar
    </div>
    <div class="subtext"><b>Frankie Burns</b><br/>
        Wedding Bartender, September 2017<br/>
        Worked with one other bartender to cater drinks for a 120+ people wedding<br/>
        Provided complex mixed drinks and cocktails, decanted and served champagne, whilst maintaining an ice bin with beers<br/>
        My coworker and I served over 500 drinks over a 12 hour shift, whilst maintaining the wedding's atmosphere by 
        enforcing RSA and presenting professionally.
    </div>
    <div class="subtext"><b>Gold Coast Turf Club</b><br/>
        Bartender, May 2018 - Present<br/>
        Mainly working in events catering, from less than 60 patrons to groups of over 300<br/>
        Served drinks, managed tabs and stock, maintained RSA in high-risk environments (unlimited drink packages) and maintained my bar to a high standard<br/>
        Also participated in occasional waiting and event setup shifts, diversifying my skillset considerably<br/>
    </div>
    <div class="title">Qualifications</div>
    <div class="subtext">Hold current RSA, willing to obtain RSG or other certifications</div>
    
</div>

<div class="resume-container r2">
    <div class="title-container">
        <h1>Sebastian Muir-Smith</h1>
        <div class="separator"></div>
        <div class="subtitle">
            <div class="info">Gold Coast, Queensland, 4211</div>
            <div class="info">0468760871</div>
            <div class="info">sebastian@muirsmith.com</div>
            <div class="info">www.sebastian.muirsmith.com</div>
        </div>
    </div>
    <div class="title">Professional Summary</div>
    <div class="summary"></div>
    <div class="title">Education</div>
    <div class="title">Work Experience</div>
    <div class="title">Qualifications</div>
</div>