<div class="popup", id="popup">
    <div class="question">
        <h1> What resume did you want to view?</h1>
        <button onclick="DisplayResume('R2');" class="b1">Hospitality/Bartending</button>
        <button  onclick="DisplayResume('R1');" class="b2">Web Dev/Data Analytics</button>
    </div>
</div>

<div class="resume-container", id="R1">
    <div class="title-container">
        <h1>Sebastian Muir-Smith</h1>
        <div class="separator"></div>
        <div class="subtitle">
            <div class="info">Gold Coast, Queensland, 4211</div>
            <span class="sep"></span>
            <div class="info">0468760871</div>
            <span class="sep"></span>
            <div class="info">sebastian@muirsmith.com</div>
            <span class="sep"></span>
            <div class="info">www.sebastian.muirsmith.com</div>
        </div>
    </div>
    <div class="title">Professional Summary</div>
    <span class="line"></span>
    <div class="subtext">Local student with over two years bartending experience, seeking casual and part time employment
        in bartending and related work</div>
    
    <div class="title">Education</div>
    <span class="line"></span>
    <div class="subtext"><b>St Michael's College, Merrimac</b><br/>
        Graduated OP1/ATAR 99.65 equivalent, November 2017</div>
    <div class="subtext"><b>Queensland University of Technology, Gardens Point</b><br/>
        Bachelor of Mathematics <em>(Statistics)</em>, Bachelor of Information Technology <em>(Computer Science)</em>, GPA 6.87 <br/>
        Studying under a Vice-Chancellor's academic scholarship <br/>
        February 2017 - November 2021</div>
    
    <div class="title">Work Experience</div>
    <span class="line"></span>
    <div class="subtext"><b>Hungry Jack's</b><br/>
        Crew member, December 2015 - April 2016 <br/>
        Left to focus on studies</div>
    <div class="subtext"><b>O'brien Group</b><br/>
        Bartender; Bar Cashier; Bar Supervisor, February 2017 - Present<br/>
        General Bar and Cashier work, including serving beer, wine and spirits to customers<br/>
        Customer involvement and critical thinking to maintain RSA<br/>
        Participated in managerial roles such as managing employees and stock for a bar
    </div>
    <div class="subtext"><b>Frankie Burns</b><br/>
        Wedding Bartender, September 2017<br/>
        Worked with one other bartender to cater drinks for a 120+ people wedding<br/>
        Provided complex mixed drinks and cocktails, decanted and served champagne, whilst maintaining an ice bin with beers<br/>
        My coworker and I served over 500 drinks over a 12 hour shift, whilst maintaining the wedding's atmosphere by 
        enforcing RSA and presenting professionally.
    </div>
    <div class="subtext"><b>Gold Coast Turf Club</b><br/>
        Bartender, May 2018 - Present<br/>
        Mainly working in events catering, from less than 60 patrons to groups of over 300<br/>
        Served drinks, managed tabs and stock, maintained RSA in high-risk environments (unlimited drink packages) and maintained my bar to a high standard<br/>
        Also participated in occasional waiting and event setup shifts, diversifying my skill set considerably<br/>
    </div>
    
    <div class="title">Qualifications</div>
    <span class="line"></span>
    <div class="subtext">Hold current RSA, willing to obtain RSG or other certifications</div>
    
</div>

<div class="resume-container", id="R2">
    <div class="title-container">
        <h1>Sebastian Muir-Smith</h1>
        <div class="separator"></div>
        <div class="subtitle">
            <div class="info">Runcorn, Brisbane</div>
            <span class="sep"></span>
            <div class="info">0468760871</div>
            <span class="sep"></span>
            <div class="info">sebastian@muirsmith.com</div>
            <span class="sep"></span>
            <div class="info">github.com/SebMuir-Smith</div>
        </div>
    </div>
    <div class="title">Professional Summary</div>
    <span class="line"></span>
    <div class="subtext">2nd-year student with a keen interest in software development, web development and data science.</div>
    <div class="title">Education</div>
    <span class="line"></span>
    <div class="subtext"><b>Queensland University of Technology, Gardens Point</b><br/>
        Bachelor of Mathematics <em>(Statistics)</em>, Bachelor of Information Technology <em>(Computer Science)</em>, GPA 6.83 <br/>
        February 2018 - November 2021</div>
    <div class="subtext"><b>Queensland Functional Programming Lab, Data61 Fortitude Valley</b><br/>
        Completed three-day intensive functional programming course, taught in haskell<br/>
        July 2019 </div>
    
    <div class="title">Technical skills</div>
    <span class="line"></span>
    <div class="subtext"><b>Languages/Project Experience</b><br/>
        C# Dotnet Core - Creation of personal website in ASP.NET core and multiple webapps using mvc + webapi<br/>
        Python - Networked smart gun, live-streaming images from a raspberry pi camera which are then analysed using TensorFlow on a server<br/>
        SQLite, MSSQL, MySQL - Various implementations, including use in data-driven webapps<br/>
        R (Tidyverse + Rmarkdown) - Analysis on collected indeed/seek-scraped historical job data; Exploratory analysis, model creation and reporting<br/>
        HTML/CSS - Aesthetics of personal website (This resume was made using pure html/css) <br/>
        TypeScript - Non-Trivial web crawler and scraper that exposes an api, written with node and express <br/>
        MatLab - Implementation of ML algorithms including sentiment analysis NLP LSTM project <br/>
        Other software development projects - General principles including OOP, unit testing, version control, development in a linux environment (BASH), etc.
    </div>
    <div class="subtext"><b>Statistical Inference</b><br/>
        Understand the statistics behind modelling and predictive analytics, such as assumptions and the mathematical roots of common techniques.<br/>
        Deep knowledge of statistical techniques and concepts such as confidence intervals, hypothesis (including A/B) testing, general linear models, and how to implement these techniques in R. <br/>
        Keen interest in learning data visualisation tools such as Tableau.
    </div> 
    <div class="subtext"><b>Machine Learning</b><br/>
        Understand the mathematical and statistical foundations of machine learning algorithms; Cost functions, stochastic gradient descent, overfitting, etc.<br/>
        Manually implemented both supervised and unsupervised algorithms from scratch, including logistic regression, PCA and EM clustering.<br/>
        Understand powerful deep learning techniques such as CNN's and the challenges faced by their implementation.<br/>
    </div> 
    
    <div class="title">Work Experience</div>
    <span class="line"></span>
    <div class="subtext">
        <b>Mine Infrastructure Services</b><br/>
        IT and System Analyst, November 2018 - Present <br/>
        SysAdmin, including PowerShell scripting/cl and hardware/software management. <br/>
        Website maintenance/development (cPanel + Wordpress + HTML/CSS) and backup management (Retrospect).
        Liaising with clients and coworkers to help communicate technical topics to non-technical stakeholders.
    </div>
    <div class="subtext">
            <b>Queensland University of Technology</b><br/>
            Peer Learning Facilitator, March 2018 - Present <br/>
            Selected and trained by QUT to provide weekly volunteer tutoring sessions for students studying computer science or math/statistics.<br/>
    </div>
    <div class="title">Awards</div>
    <span class="line"></span>
    <div class="subtext">
        QUT Vice-Chancellor's academic scholarship - 2018-2021<br/>
        QUT Dean's list - 2018 semester 1<br/>
        QUT Dean's list - 2018 semester 2<br/>
        QUT Dean's list - 2019 semester 1<br/>
        Graduated OP1/ ATAR 99.65 equivalent, St Micheal's College, 2017
    </div>

    </div>

<script type="text/javascript">
    function DisplayResume(type) {
        document.getElementById(type).style.cssText = 'display: none;';
        document.getElementById('popup').style.cssText = 'display: none;';      
    }
    
</script>