
@{
    ViewBag.Title = "My résumé";
}

<div class="resume">
    <h3 class="resume"> What resume do you want to view? </h3>
    <div class="resume">
        <button>Hospitality</button>
        <button>Web Dev/Data Analytics</button>
    </div>
</div>
