/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Homepage formatting */
.photo-holder {
    width: auto;
    height: 150px;
    background-color: #222222;
    margin: 0;
    position: relative;
    z-index:1;
}


div.profile-photo {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: 0 solid black;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50px;
    z-index: 3;
    display: inline-block;
    left: calc(50% - 100px);
}

.profile-outer {
    height: 250px;
    width: 250px;
    border-radius: 100%;
    border: 0 solid black;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 25px;
    z-index: 2;
    display: inline-block;
    left: calc(50% - 125px);
    background-color: white;
}


.profile-photo img{
    max-height: 125%;
    max-width: 200%;
    object-position: center;
    object-fit:contain;
    z-index: 4;
    position:relative;
    right: 75px;

}

.homepage {
    text-align: center;
}

/* general stuff */

#body-content{
    margin-top:130px;
}

.error {
    color: red;
}

.success {
    color: green;
}

#scraperbar {
    background-color: saddlebrown;
    color: #e3e3e3;
    border: 0;
}

#homebar {
    border: 0;
}

.col-md-3{
    visibility: hidden;
}

/* Spending tracker presentation */
.main-grid {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    grid-column-gap: 1%;
}

.category-container {
    border: saddlebrown solid 2px;
    border-radius: 10px;
    padding: 2%;
}

.cat-label {
    justify-content: left;
    display: inline-block;
}

.cat-data {
    float: right;
    display: inline-block;
}

.column {
    display: grid;
    grid-row-gap: 5px;
}

/* resume popup */
.question {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    border-radius: 5px;
    border: 1px solid black;
    background-color: #e3e3e3;
    opacity: 50%;
    
    overflow: hidden;
}

.question h1{
    grid-area: 1 / 1 / 2 / 3;
    margin: 10px;
}

.question .b1 {
    grid-area: 2 / 1 / 3 / 2;
}

.question .b1 {
    grid-area: 2 / 2 / 3 / 3;
}

.popup {
    position: fixed;
    min-height: 100%;
    background-color: grey;
    min-width: 100%;
    top: 0;
    left: 0;
    opacity: 50%;
    
}

/* resume contents  */
.resume-container {
    margin: 0 150px;
    min-width: 700px;
    max-width: 800px;
}

.title-container h1 {
    text-align: center;
    font-family: Ayuthaya, sans-serif;
    color: saddlebrown;
}

.separator {
    background-color: black;
    height: 3px;
    width: 25%;
    margin: auto;
}

.subtitle {
    margin: 10px auto auto auto;
    text-align: center;
}

.subtitle .info {
    display: inline;
    
}

.sep {
    height: 10px;
    width: 2px;
    background-color: black;
    display: inline-block;
    margin: 0 2px;
}

.title {
    font-family: Seravek, serif;
    font-size: 30px;
    color: saddlebrown;
    margin: 10px 0 0 0;
}

.line {
    width: 100%;
    height: 2px;
    background-color: black;
    display: inline-block;
    margin: 0 0 10px 0;
}

.subtext {
    margin: 0 0 10px 35px;
    line-height: 135%;
}